@charset "UTF-8";
html,
body {
  font-family: "Open Sans Condensed", "Open Sans", sans-serif; }

p {
  font-size: 1.25em; }

h1 {
  font-size: 2em;
  font-weight: bold;
  letter-spacing: .25em;
  text-align: center;
  text-transform: capitalize; }
  h1 small {
    color: ​ #b4b7ba;
    font-weight: bold;
    letter-spacing: .5em;
    text-transform: uppercase;
    white-space: nowrap; }

h2 {
  font-size: 1.75em;
  letter-spacing: .1em;
  text-align: center;
  text-transform: capitalize; }
  h2 small {
    color: ​ #b4b7ba;
    font-size: .5em; }

.loading-spinner > div {
  height: 100vh; }

.weather-data {
  margin-top: 1.25em;
  min-height: 12.5em; }

.hide-me {
  display: none !important; }

.morning {
  background-color: #c35114;
  color: #fff; }

.day {
  background-color: #1889c1;
  color: #fff; }

.day-cloudy,
.morning-cloudy {
  background-color: #979797;
  color: #fff; }

.evening {
  background-color: #462f4b;
  color: #dedede; }

.night {
  background-color: #133150;
  color: #dedede; }

.night-cloudy,
.evening-cloudy {
  background-color: #646464;
  color: #dedede; }

.weather-data-row-1 .col p,
.weather-data-row-2 .col p {
  line-height: 1em;
  margin-bottom: .75em; }

.current-icon p,
.current-temp p {
  cursor: default;
  text-align: center;
  white-space: nowrap; }

.current-temp p {
  font-size: 4em;
  line-height: 100%;
  margin-left: 20%; }

.current-icon i {
  font-size: 2.75em;
  margin-top: .2em; }

.last-updated p {
  font-size: .9em;
  margin-top: 0;
  text-align: center; }

.powered-by-dark-sky ul {
  font-size: .5em;
  margin-top: -.25em;
  text-align: center; }

.forecast,
.hourly {
  margin-top: .6em; }

.forecast p {
  font-size: .9em;
  line-height: 1.3em;
  white-space: nowrap; }

.hourly p {
  font-size: .75em;
  line-height: 1.25em;
  white-space: nowrap; }

.template-error-message {
  display: block; }

hr {
  margin: .4em auto; }

.main-container {
  margin-bottom: -3.75em; }
  .main-container::after {
    content: "";
    display: block; }

.link-toggle-units, .link-toggle-units:visited {
  color: ​ #a0a0a0;
  text-decoration: none; }

.link-toggle-units:hover, .link-toggle-units:active {
  border-bottom: 1px dashed #ccc;
  border-top: 1px dashed #ccc;
  color: #ccc;
  text-decoration: none; }

.powered-by-dark-sky a {
  color: #ccc;
  text-decoration: none; }
  .powered-by-dark-sky a:visited {
    color: #ccc;
    text-decoration: none; }

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out; }

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0); }
  20%,
  60% {
    transform: rotate(-25deg); }
  40%,
  80% {
    transform: rotate(10deg); } }

@media only screen and (max-width: 340px) {
  p {
    font-size: 1em; } }

@media only screen and (max-width: 440px) {
  body {
    font-size: 1rem; }
  h2 {
    margin: 0 auto auto .75em; } }

@media only screen and (max-width: 500px) {
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out; }
  .github-corner:hover .octo-arm {
    animation: none; }
  .powered-by-dark-sky ul {
    font-size: .75em; }
  .last-updated p {
    font-size: 1em; } }

@media only screen and (min-width: 900px) {
  body {
    font-size: 1.5rem; } }

@media only screen and (min-width: 1200px) {
  body {
    font-size: 2rem; } }
