* {
  text-rendering: optimizeLegibility;
}

html {
  font-size: 100%;
}

body {
  font-size: 1.25rem;
  line-height: 1.5em;
  font-family: "Open Sans Condensed", "Open Sans", sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */
  color: rgb(255, 255, 255);
}

@media only screen and (max-width: 440px) {
  body {
    font-size: 1rem;
  }
  h2 {
    margin-top: 0;
    margin-left: 0.75em;
  }
}

@media (min-width: 900px) {
  body {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1200px) {
  body {
    font-size: 2rem;
  }
}

.loading-spinner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 5em;
  margin: 25% auto;
}

.weather-data {
  min-height: 12.5em;
  margin-top: 1.25em;
}

.current-conditions {
  padding: 0;
}

.hidden {
  display: none !important;
}

p {
  font-size: 1.25em;
}

.alt-unit {
  display: none;
}

.morning {
  background-color: rgb(195, 81, 20);
}

.day {
  background-color: rgb(24, 137, 193);
}

.evening {
  background-color: rgb(70, 47, 75);
}

.night {
  background-color: rgb(19, 49, 80);
}

h1 small,
h2 {
  color: rgb(205, 205, 205);
}

h1 {
  text-align: center;
  letter-spacing: 0.25em;
  text-transform: capitalize;
  font-size: 2em;
  font-weight: bold;
}

h1 > small {
  white-space: nowrap;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  font-weight: bold;
}

h2 {
  font-size: 2em;
  text-transform: capitalize;
  letter-spacing: 0.1em;
  text-align: center;
}

.current-icon p,
.current-temp  p,
.current-pressure p,
.current-wind p,
.current-sunrise-sunset p,
.current-humidity p,
.current-visibility p,
.current-feels-like p {
  cursor: default;
  text-align: center;
  white-space: nowrap;
}

.current-temp  p {
  font-size: 5em;
  cursor: pointer !important;
}

.current-icon i {
  font-size: 3em;
  margin-top: 0.2em;
}

.last-updated p {
  margin-top: 0;
  text-align: center;
  font-size: 0.9em;
}

.powered-by-dark-sky p {
  margin-top: -0.25em;
  text-align: center;
  font-size: 0.75em;
}

.forecast {
  margin-top: 0.6em;
}

.forecast p {
  white-space: nowrap;
  font-size: 1em;
}

.template-error-message {
  display: block;
}

hr {
  /* display: none; */
  margin: 0.4em auto;
}

.main-container {
  margin-bottom: -3.75em;
}

.main-container::after {
  display: block;
  content: "";
}

a.link-toggle-units,
a.link-toggle-units:visited {
  color: rgb(160, 160, 160);
  text-decoration: none;
}

a.link-toggle-units:hover,
a.link-toggle-units:active {
  color: rgb(204, 204, 204);
  text-decoration: none;
  border-top: 1px dashed rgb(204, 204, 204);
  border-bottom: 1px dashed rgb(204, 204, 204);
}

.powered-by-dark-sky a,
.powered-by-dark-sky a:visited {
  color: rgb(204, 204, 204);
  text-decoration: none;
}

.powered-by-dark-sky a:hover,
.powered-by-dark-sky a:active {
  text-decoration: none;
  border-top: 1px dotted rgb(204, 204, 204);
  border-bottom: 1px dotted rgb(204, 204, 204);
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}
