<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= options.title %></title>
  <meta name="subject" content="<%= options.description %>">
  <meta name="keywords" content="<%= options.keywords %>">
  <meta name="description" content="<%= options.description %>">
  <meta name="author" content="<%= options.author %>">
  <meta name="theme-color" content="<%= options.themeColor %>">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-title" content="<%= options.appName %>">
  <meta name="application-name" content="<%= options.appName %>">
  <link rel="preconnect" href="https://sessions.bugsnag.com">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="preconnect" href="https://www.googletagmanager.com">
  <link rel="dns-prefetch" href="https://sessions.bugsnag.com">
  <link rel="dns-prefetch" href="https://fonts.gstatic.com">
  <link rel="dns-prefetch" href="https://www.google-analytics.com">
  <link rel="icon" class="favicon" href="./images/weather-icon-64.png">
  <link rel="mask-icon" class="favicon" href="./images/weather-icon-64.png">
  <link rel="apple-touch-icon" class="favicon" href="./images/weather-icon-64.png">
  <link rel="apple-touch-icon" href="./images/weather-icon-64.png">
  <link rel="apple-touch-icon" sizes="152x152" href="./images/weather-icon-152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="./images/weather-icon-180.png">
  <link rel="apple-touch-icon" sizes="167x167" href="./images/weather-icon-167.png">
  <link rel="apple-touch-startup-image" sizes="2048x2732" href="./images/apple_splash_2048.png">
  <link rel="apple-touch-startup-image" sizes="1668x2224" href="./images/apple_splash_1668.png">
  <link rel="apple-touch-startup-image" sizes="1536x2048" href="./images/apple_splash_1536.png">
  <link rel="apple-touch-startup-image" sizes="1242x2208" href="./images/apple_splash_1242.png">
  <link rel="apple-touch-startup-image" sizes="1125x2436" href="./images/apple_splash_1125.png">
  <link rel="apple-touch-startup-image" sizes="750x1334" href="./images/apple_splash_750.png">
  <link rel="apple-touch-startup-image" sizes="640x1136" href="./images/apple_splash_640.png">
  <link href="./main.scss" media="screen" rel="stylesheet">
</head>
<body>
  <section class="section hero is-fullheight app-shell has-navbar-fixed-top">
    <div class="hero-head">
      <div class="level offline-notification hidden">
        <div class="level-item has-text-centered is-capitalized">
          <span class="tag is-dark is-large has-tooltip" data-tippy-content="Weather data will be refreshed automatically when your device has connectivity again">
            <strong class="is-uppercase"><i class="fad fa-fw fa-wifi-slash"></i> Your Device is Offline</strong>
          </span>
        </div>
      </div>
      <div class="columns is-mobile location"></div>
    </div>
    <div class="hero-body">
      <div class="container is-fullwidth loading-message hidden"></div>
      <div class="container is-fullwidth initial-content">
        <div class="column has-text-centered">
          <img alt="LocalWeather.io Icon" src="./images/weather-icon-64.png">
          <h1 class="title is-1 is-spaced is-block">LocalWeather.io</h1>
          <div class="content">
            <h2 class="subtitle is-4 is-spaced has-text-light">
              <i class='fad fa-fw fa-exclamation-triangle'></i> Location Services Required
            </h2>
            <button class="button is-outlined is-primary btn-init-app"><i class='fad fa-fw fa-sync-alt'></i> Show me the Weather</button>
            <p class="is-italic">
              This application requires the use of location information
              (provided by your browser, and your device) to get accurate
              weather data.
            </p>
            <p class="is-italic">
              If this is your first visit you will be prompted to share your
              location. You must approve that request for this app to work.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="hero-foot">
      <div class="columns is-mobile powered-by-dark-sky">
        <div class="column">
          <div class="content has-text-right">
            <a href="https://github.com/mikesprague/localweather-io" target="_blank" rel="noopener noreferrer"
              data-tippy-content="Release Notes">
              LocalWeather.io <%= options.versionString %>
            </a>
          </div>
        </div>
        <div class="column">
          <div class="content has-text-centered">
            <a href="https://darksky.net/poweredby/" target="_blank" rel="noopener noreferrer"
              data-tippy-content="Powered by Dark Sky">
              <i class="fad fa-tint"></i> Powered by Dark Sky
            </a>
          </div>
        </div>
        <div class="column">
          <div class="content has-text-left">
            <a href="https://github.com/mikesprague/localweather-io/" rel="noopener noreferrer" target="_blank"
              data-tippy-content="Coded by Michael Sprague">
              <i class="fad fa-code"></i> by Michael Sprague
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script src="./main.js" type="module"></script>
  <script>
    if (navigator.userAgent.indexOf('Speed Insights') === -1 && navigator.userAgent.indexOf('Nexus 5 Build') === -1) {
      const script = document.createElement('script');
      script.setAttribute('src', 'https://www.googletagmanager.com/gtag/js?id=UA-461185-33');
      script.setAttribute('async', '');
      document.querySelector('body').appendChild(script);
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'UA-461185-33');
    }
  </script>
</body>
</html>
