<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="subject" content="<%= htmlWebpackPlugin.options.description %>">
  <meta name="keywords" content="<%= htmlWebpackPlugin.options.keywords %>">
  <meta name="description" content="<%= htmlWebpackPlugin.options.description %>">
  <meta name="author" content="<%= htmlWebpackPlugin.options.author %>">
  <meta name="theme-color" content="<%= htmlWebpackPlugin.options.themeColor %>">
  <meta name="apple-mobile-web-app-title" content="<%= htmlWebpackPlugin.options.appName %>">
  <meta name="application-name" content="<%= htmlWebpackPlugin.options.appName %>">
  <link rel="canonical" href="<%= htmlWebpackPlugin.options.canonical %>"/>
  <link rel="manifest" href="./manifest.json">
  <link href="./css/styles.css" rel="stylesheet">
  <script src="./js/bundle.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700" type="text/css">
  <link rel="stylesheet" href="./assets/css/weather-icons.min.css">
  <link rel="stylesheet" href="./assets/css/weather-icons-wind.min.css">
  <link rel="icon" class="favicon" href="./assets/images/favicons/weather-icon-64.png">
  <link rel="apple-touch-icon" class="favicon" href="./assets/images/favicons/weather-icon-64.png">
  <link rel="mask-icon" class="favicon" href="./assets/images/favicons/weather-icon-64.png">
</head>
<body>

  <div class="container">
    <div class="row align-items-start mt-5">
      <div class="col text-center mt-5">
        <h2><i class="fal fa-fw fa-sad-tear"></i> <%= htmlWebpackPlugin.options.offlineHeading %></h2>
        <h3><%= htmlWebpackPlugin.options.offlineText %></h3>
      </div>
    </div>
  </div>

</body>
</html>
