<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta name="subject" content="<%= htmlWebpackPlugin.options.description %>">
  <meta name="keywords" content="<%= htmlWebpackPlugin.options.keywords %>">
  <meta name="description" content="<%= htmlWebpackPlugin.options.description %>">
  <meta name="author" content="<%= htmlWebpackPlugin.options.author %>">
  <meta name="theme-color" content="<%= htmlWebpackPlugin.options.themeColor %>">
  <meta name="apple-mobile-web-app-title" content="<%= htmlWebpackPlugin.options.appName %>">
  <meta name="application-name" content="<%= htmlWebpackPlugin.options.appName %>">
  <link rel="canonical" href="<%= htmlWebpackPlugin.options.canonical %>"/>
  <link rel="preconnect" href="https://session.bugsnag.com">
  <link rel="preconnect" href="https://www.googletagmanager.com">
  <link rel="preload" href="./css/styles.css" as="style">
  <link rel="preload" href="./js/vendors~main.bundle.js" as="script">
  <link rel="preload" href="./js/bundle.js" as="script">
  <link rel="preload" href="./fonts/z7NFdQDnbTkabZAIOl9il_O6KJj73e7Ff0GmDuXMRw.woff2" as="font" crossorigin="anonymous">
  <link rel="preload" href="./fonts/z7NFdQDnbTkabZAIOl9il_O6KJj73e7Ff1GhDuXMRw.woff2" as="font" crossorigin="anonymous">
  <link rel="preload" href="./fonts/z7NHdQDnbTkabZAIOl9il_O6KJj73e7Fd_-7suD8Rb2V.woff2" as="font" crossorigin="anonymous">
  <link rel="preload" href="https://www.googletagmanager.com/gtag/js?id=UA-461185-33" as="script">
  <link rel="manifest" href="./manifest.json">
  <link href="./css/styles.css" media="screen" rel="stylesheet">
  <link rel="icon" class="favicon" href="./images/weather-icon-64.png">
  <link rel="apple-touch-icon" class="favicon" href="./images/weather-icon-64.png">
  <link rel="mask-icon" class="favicon" href="./images/weather-icon-64.png">
</head>
<body>

  <section class="section hero is-fullheight app-shell has-navbar-fixed-top">
    <div class="hero-head"></div>
    <div class="hero-body">
      <div class="container is-fullwidth loading-message hidden"></div>
      <div class="container is-fullwidth initial-content">
        <div class="column has-text-centered">
          <div class="content">
            <div class="container is-fullwidth has-text-centered offline-notification">
              <img alt="LocalWeather.io Icon" src="./images/weather-icon-64.png">
              <h1 class="title is-2 has-text-light is-block">LocalWeather.io</h1>
              <span class="icon">
                <i class="fal fa-fw fa-3x fa-wifi-slash"></i>
              </span>
              <h2 class="subtitle is-1 has-text-light">It appears you are offliine</h2>
              <p>Once your device has connectivity again this page will automatically update</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="hero-foot">
      <div class="columns is-mobile powered-by-dark-sky">
        <div class="column">
          <div class="content has-text-right">
            <a href="https://localweather.io" data-tippy-content="LocalWeather.io <%= htmlWebpackPlugin.options.versionString %>">
              LocalWeather.io <%= htmlWebpackPlugin.options.versionString %>
            </a>
          </div>
        </div>
        <div class="column">
          <div class="content has-text-centered">
            <a href="https://darksky.net/poweredby/" target="_blank" rel="noopener" data-tippy-content="Powered by Dark Sky">
              <i class="fal fa-tint"></i> Powered by Dark Sky
            </a>
          </div>
        </div>
        <div class="column">
          <div class="content has-text-left">
            <a href="https://github.com/mikesprague/localweather-io/" rel="noopener" target="_blank" data-tippy-content="Coded by Michael Sprague">
              <i class="fal fa-code"></i> by Michael Sprague
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script src="./js/vendors~main.bundle.js"></script>
  <script src="./js/bundle.js"></script>
  <script defer async src="https://www.googletagmanager.com/gtag/js?id=UA-461185-33"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'UA-461185-33');
  </script>
</body>
</html>
