$color-text-default: #fff;
$color-text-secondary: ​#cdcdcd;

$color-morning: #c35114;
$color-day: #1889c1;
$color-evening: #462f4b;
$color-night: #133150;

$color-clear-day: $color-day;
$color-cloudy-day: #999;
$color-cloudy-night: #666;

$color-gray-light: #ccc;
$color-gray-medium: ​#a0a0a0;
