$color-text-default: #f0ede5; // #fff
$color-text-secondary: ​#b4b7ba;

$color-morning: #c35114;
$color-day: #6f9fd8; // #1889c1
$color-evening: #462f4b;
$color-night: #2e4a62; // #133150
$color-sunny: #ecdb54; // #ffee33 #fff700 #ffdb00

$color-clear-day: $color-day;
$color-cloudy-day: #999;
$color-cloudy-night: #666;

$color-gray-light: #ccc;
$color-gray-medium: ​#a0a0a0;
