@import "node_modules/bulma/bulma";
@import "node_modules/tippy.js/dist/tippy";
@import "node_modules/sweetalert2/src/sweetalert2";

/*!
 * LocalWeather.io Styles
 */
@import "variables";

* {
  -moz-osx-font-smoothing: grayscale !important;
  -webkit-font-smoothing: subpixel-antialiased !important;
  font-display: auto;
  text-rendering: optimizeLegibility !important;
}

*:focus {
  outline: none;
}

html {
  font-size: 16px;
}

html,
body {
  background-color: $color-loading;
  margin: 0;
}

body {
  background-color: $color-loading;
  color: $color-text-default;
  font-display: auto;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 1.25rem;
}

.section {
  padding: .75rem !important;
}

.hero-body {
  padding: .2rem !important;
}

p {
  font-size: 1.15em;
}

strong {
  color: inherit !important;
  font-weight: 700;
}

.title.is-1 {
  color: inherit;
  display: flex;
  font-size: 3em;
  justify-content: space-between;
  margin-bottom: .25em;
  text-align: center;

  small {
    color: $color-text-secondary;
    font-weight: bold;
    letter-spacing: .5em;
    text-transform: uppercase;
    white-space: nowrap;
  }
}

.subtitle.is-1 {
  color: inherit;
  font-size: 2.75em;
  font-weight: normal;
  letter-spacing: .1em;
  text-align: center;
  text-transform: capitalize;

  small {
    color: $color-text-secondary;
    // font-size: .5em;
  }
}

.subtitle.is-2 {
  color: $color-text-danger;
  font-size: 1.25em;
  font-weight: 600;
  margin-top: -.5em;
  text-align: center;

  a {
    color: $color-text-danger;
  }
}

.link-weather-alert {
  color: $color-text-night;
  font-weight: 700;

  &:hover {
    color: $color-text-default;
    font-weight: 700;
  }
}

.btn-init-app {
  margin-bottom: 1.25em;
}

.tag-weather-alert {
  background-color: $color-text-danger !important;
}

.message-alert-text,
.message-alert-text-first,
.message-alert-text-heading {
  font-size: 1.1em;
  margin-bottom: .6em;
  margin-top: .6em;
}

.message-alert-text-first {
  border-top: 1px dashed $color-gray;
}

.message-alert-text-heading {
  font-size: 1.2em;
  font-weight: bold;
}

.primary-conditions-data {
  align-items: start;
}

.loading-text {
  margin-top: 3em;
}

.hidden {
  display: none !important;
}

.clear,
.clear-night,
.cloudy,
.cloudy-night,
.loading,
.rainy,
.rainy-night,
.snowy,
.snowy-night {
  transition: background-color 1000ms linear;
}

.loading {
  background-color: $color-loading;
  color: $color-text-default;
}

.clear,
.cloudy,
.rainy {
  color: $color-text-default;
}

.clear-night,
.cloudy-night,
.rainy-night {
  color: $color-text-night;
}

.clear {
  background-color: $color-clear;
}

.clear-night {
  background-color: $color-clear-night;
}

.cloudy {
  background-color: $color-cloudy;
}

.cloudy-night {
  background-color: $color-cloudy-night;
}

.rainy {
  background-color: $color-rainy;
}

.rainy-night {
  background-color: $color-rainy-night;
}

.snowy {
  background-color: $color-snowy;
  color: $color-gray-dark;

  .powered-by-dark-sky {
    a {
      color: $color-gray-dark;

      &:hover,
      &:active {
        border-bottom: 1px dashed $color-gray-dark;
        border-top: 1px dashed $color-gray-dark;
        color: $color-gray-dark;
      }
    }
  }
}

.snowy-night {
  background-color: $color-snowy-night;
  color: $color-gray-darkest;

  .powered-by-dark-sky {
    a {
      color: $color-gray-darkest;

      &:hover,
      &:active {
        border-bottom: 1px dashed $color-gray-darkest;
        border-top: 1px dashed $color-gray-darkest;
        color: $color-gray-darkest;
      }
    }
  }
}

.current-weather-data {
  .column {
    p {
      line-height: 1.2;
      margin-bottom: .75em;
      white-space: nowrap;
    }

    .moon-phase {
      white-space: initial !important;
    }
  }
}

.hourly-data,
.forecast-data {
  margin-top: .5em;
}

.current-conditions {
  cursor: default;
}

.current-icon,
.current-temp {
  p {
    cursor: default;
    text-align: center;
    white-space: nowrap;
  }
}

.current-temp {
  font-size: 4em;
  line-height: 1;
}

.current-icon {
  font-size: 4em;
  line-height: 1;
}

.last-updated-time {
  margin-top: .5em;

  p {
    font-size: .9em;
  }
}

.powered-by-dark-sky {
  font-size: .6em;
  margin-top: .25em;

  a {
    color: $color-gray-lightest;
    text-decoration: none;

    &:visited {
      // color: $color-gray-lightest;
      text-decoration: none;
    }

    &:hover,
    &:active {
      border-bottom: 1px dashed $color-gray-lightest;
      border-top: 1px dashed $color-gray-lightest;
      color: $color-gray-lightest;
      text-decoration: none;
    }
  }
}

hr {
  background-color: transparent;
  border: none;
  border-top: 1px solid rgba(0, 0, 0, .1);
  margin: .4em auto;
}

/*
.link-toggle-units {
  &,
  &:visited {
    color: $color-gray;
    text-decoration: none;
  }

  &:hover,
  &:active {
    border-bottom: 1px dashed $color-gray-lightest;
    border-top: 1px dashed $color-gray-lightest;
    color: $color-gray-lightest;
    text-decoration: none;
  }
}

@media only screen and (max-width: 440px) {
  body {
    font-size: 1.25rem;
  }
}
*/

@media only screen and (max-width: 500px) {
  /*
  body {
    font-size: 1.35rem;
  }
  */
  .current-weather-data {
    p {
      font-size: .95em;
      line-height: 1.25;
    }
  }

  .hourly-data,
  .forecast-data {
    p {
      font-size: 1em;
    }
  }

  .last-updated-time {
    p {
      font-size: .8em;
    }
  }

  .title.is-1 {
    font-size: 2.5rem;
  }

  .subtitle.is-1 {
    font-size: 1.65rem;
  }

  .subtitle.is-2 {
    font-size: 1.25rem;
  }

  .current-temp {
    font-size: 2.5em;
    line-height: 1;
  }

  .current-icon {
    font-size: 2.5em;
    line-height: 1;
  }

}

/*
@media only screen and (min-width: 900px) {
  body {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 1200px) {
  body {
    font-size: 2rem;
  }
}
*/

@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  html {
    font-size: 22px;
  }
}

.has-tooltip {
  cursor: pointer;
}
