@import "variables";

html,
body {
  font-family: "Open Sans Condensed", sans-serif;
}

body {
  background-color: $color-cloudy-day;
  color: $color-text-default;
}

p {
  font-size: 1.15em;
}

strong {
  font-weight: 700;
}

h1 {
  font-size: 2.25em;
  font-weight: bold;
  letter-spacing: .4em;
  text-align: center;
  text-transform: capitalize;

  small {
    color: $color-text-secondary;
    font-weight: bold;
    letter-spacing: .5em;
    text-transform: uppercase;
    white-space: nowrap;
  }
}

h2 {
  font-size: 1.75em;
  letter-spacing: .1em;
  text-align: center;
  text-transform: capitalize;

  small {
    color: $color-text-secondary;
    font-size: .5em;
  }
}

.loading-text {
  margin-top: 1em;
}

// .loading-spinner {
//   &>div {
//     height: 100vh;
//   }
// }

.weather-data {
  margin-top: 1.25em;
  min-height: 12.5em;
}

.hide-me {
  display: none !important;
}

.sunrise {
  background-color: $color-sunrise;
  color: $color-text-default;
}

.day,
.day-cloudy,
.sunrise,
.sunrise-cloudy,
.night,
.night-cloudy,
.sunset,
.sunset-cloudy {
  -ms-transition: background-color 1000ms linear;
  -webkit-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear;
}

.day {
  background-color: $color-day;
  color: $color-text-default;
}

.day-cloudy,
.loading {
  // background: radial-gradient($color-day, $color-cloudy-day);
  background-color: $color-cloudy-day;
  color: $color-text-default;
}

.sunrise-cloudy {
  // background: radial-gradient($color-night, $color-cloudy-night);
  background-color: $color-cloudy-day;
  color: $color-text-default;
}

.sunset {
  background-color: $color-sunset;
  color: $color-text-night;
}

.night {
  background-color: $color-night;
  color: $color-text-night;
}

.night-cloudy {
  // background: radial-gradient($color-night, $color-cloudy-night);
  background-color: $color-cloudy-night;
  color: $color-text-night;
}

.sunset-cloudy {
  // background: radial-gradient($color-sunset, $color-cloudy-night);
  background-color: $color-cloudy-night;
  color: $color-text-night;
}

.current-weather-data {
  .col {
    p {
      line-height: 1em;
      margin-bottom: .75em;
      white-space: nowrap;
    }
  }
}

.current-conditions {
  cursor: default;
}

.current-icon,
.current-temp {
  & p {
    cursor: default;
    text-align: center;
    white-space: nowrap;
  }
}

.current-temp {
  p {
    font-size: 4em;
    line-height: 100%;
    margin-left: 20%;
  }
}

.current-icon {
  i {
    font-size: 2.75em;
    margin-top: .2em;
  }
}

.last-updated {
  p {
    font-size: .9em;
    margin-top: 0;
    text-align: center;
  }
}

.powered-by-dark-sky ul {
  font-size: .5em;
  margin-top: -.25em;
  text-align: center;
}

.forecast,
.hourly {
  margin-top: .5em;

  .summary {
    font-size: .85em;
  }

  p {
    white-space: nowrap;
  }
}

.forecast {
  p {
    font-size: .9em;
    line-height: 1.3em;
  }
}

.hourly {
  p {
    font-size: .75em;
    line-height: 1.25em;
  }
}

.template-error-message {
  display: block;
}

hr {
  margin: .4em auto;
}

.main-container {
  margin-bottom: -3.75em;

  &::after {
    content: "";
    display: block;
  }
}

.link-toggle-units {
  &,
  &:visited {
    color: $color-gray-medium;
    text-decoration: none;
  }

  &:hover,
  &:active {
    border-bottom: 1px dashed $color-gray-light;
    border-top: 1px dashed $color-gray-light;
    color: $color-gray-light;
    text-decoration: none;
  }
}

.powered-by-dark-sky {
  a {
    color: $color-gray-light;
    text-decoration: none;

    &:visited {
      color: $color-gray-light;
      text-decoration: none;
    }
  }
}

.github-corner {
  &:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }

  20%,
  60% {
    transform: rotate(-25deg);
  }

  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media only screen and (max-width: 340px) {
  p {
    font-size: 1em;
  }
}

@media only screen and (max-width: 440px) {
  body {
    font-size: 1rem;
  }

  h2 {
    margin: 0 auto auto .75em;
  }
}

@media only screen and (max-width: 500px) {
  .github-corner {
    .octo-arm {
      animation: octocat-wave 560ms ease-in-out;
    }

    &:hover .octo-arm {
      animation: none;
    }
  }

  .powered-by-dark-sky {
    & ul {
      font-size: .75em;
    }
  }

  .last-updated {
    & p {
      font-size: 1em;
    }
  }
}

@media only screen and (min-width: 900px) {
  body {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 1200px) {
  body {
    font-size: 2rem;
  }
}
